<section id="panel">

    <div>
        <input type="radio" id="radio-excursions-list" name="manager-panel-option" value=1 (click)="changePanelOption($event)" checked>
        <label for="radio-excursions-list">Excursions List</label>

        <input type="radio" id="radio-add-excursion" name="manager-panel-option" value=0 (click)="changePanelOption($event)">
        <label for="radio-add-excursion">Add Excursion</label>
    </div>

    <div *ngIf="radioExcursionListChecked" id="cart">
        <div *ngIf="excursionsData.length > 0; else empty_cart">
        </div>
    
        <ng-template class="cart-info" #empty_cart>
            <p class="cart-info">
                There are no excursion in the database.
            </p>
        </ng-template>
    
        <div class="cart-item" *ngFor="let excursion of excursionsData">
    
            <div class="main-reservation-info">
                <img src={{excursion.imgs[0]}} (click)="navigateToSingleExcursionView(excursion.id)">
                <p>{{excursion.name}}</p>
                <p>{{excursion.country}}</p>
                <p> Excursion ID: {{excursion.id}}</p>
            </div>

            <hr>

            <div class="buttons-div">

                <div class="remove-excursion-button" (click)="removeButtonClicked(excursion)"></div>

                <div class="edit-excursion-button" (click)="updateButtonClicked(excursion)"></div>

            </div>

        </div>
    </div>

    <div *ngIf="!radioExcursionListChecked">
        <form #addExcursionForm="ngForm" (submit)="submitClicked(addExcursionForm.value)">

            <div class="input-wrapper">
                <label for="id-input">ID:</label>
                <input type="number" name="id" id="id-input" value={{getMinAvailableID()}}
                    placeholder={{getMinAvailableID().toString().concat(info)}} ngModel disabled>
            </div>
        
            <div class="input-wrapper">
                <label for="name-input">Name:</label>
                <input type="text" name="name" id="name-input" placeholder="for ex. Scandinavian Northern Lights" ngModel>
            </div>
        
            <div class="input-wrapper">
                <label for="country-input">Country:</label>
                <input type="text" name="country" id="country-input" placeholder="for ex. Norway" ngModel>
            </div>
        
            <div class="input-wrapper">
                <label for="start-date-input">Start date:</label>
                <input type="date" name="startDate" id="start-date-input" ngModel>
            </div>
        
            <div class="input-wrapper">
                <label for="end-date-input">End date:</label>
                <input type="date" name="endDate" id="end-date-input" ngModel>
            </div>
        
            <div class="input-wrapper">
                <label for="unit-price-input">Unit price $:</label>
                <input type="number" name="unitPrice" id="unit-price-input" placeholder="for ex. 1999" ngModel>
            </div>
        
            <div class="input-wrapper">
                <label for="max-in-stock-input">In stock:</label>
                <input type="number" name="inStock" id="max-in-stock-input" placeholder="for.ex 12" ngModel>
            </div>
        
            <div class="input-wrapper">
                <label for="description-input">Short description:</label>
                <input type="text" name="shortDescription" id="description-input"
                    placeholder="for ex. Great excursion for aurora hunters" ngModel>
            </div>

            <div class="input-wrapper" id="textarea-wrapper">
                <label for="long-description-input">Long description:</label>
                <textarea name="longDescription" id="long-description-input" cols="30" rows="10" placeholder="..." [(ngModel)]="textAreaValue"></textarea>
            </div>
        
            <div class="input-wrapper">
                <label for="img-input">Image url:</label>
                <input type="text" name="img" id="img-input"
                    placeholder="for ex. https://www.routesnorth.com/wp-content/uploads/2019/09/4-pexels-photo-2113557.jpg"
                    ngModel>
            </div>
        
            <button type="submit">SUBMIT</button>
        
        </form>
    </div>
</section>

