<div id="cart">

    <div *ngIf="getExcursionsWithReservations().length > 0; else empty_cart">
        <p class="cart-info">
            Your cart:
        </p>
    </div>

    <ng-template class="cart-info" #empty_cart>
        <p class="cart-info">
            Your cart is empty
        </p>
    </ng-template>

    <div class="cart-item" *ngFor="let excursion of getExcursionsWithReservations()">
        <img src={{excursion?.imgs![0]}} (click)="navigateToSingleExcursionView(excursion?.id)">
        <p id="excursion-name">{{excursion?.name}}, {{excursion?.country}}</p>
        <p>{{excursion?.unitPrice}}$ x {{getReservations(excursion?.id)}}</p>
        <div class="remove-excursion-button" (click)="removeExcursionButtonClicked(excursion.id)"></div>
    </div>

    <div id="summary">
        <p>Total reservations: {{totalReservations}}</p>
        <p>Total price: {{totalPrice | currency}}</p>
    </div>

    <button id="book-button" *ngIf="getExcursionsWithReservations().length > 0" (click)="bookButtonClicked()">
        <h2>Book</h2>
        <p>with obligation to pay</p>
    </button>

</div>