#login-register-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#login-register-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 450px;
}

.login-register-input {
    height: 55px;
    width: 100%;
    font-size: 15px;
}

.submit-button {
    width: 280px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
}

#login-button,
#test-acc-login-button,
#register-button {
    background-color: rgb(68, 59, 54);
    color: white;
    border: 1px solid black;
}

#login-button {
    margin-top: 30px;
}

#keep-logged-in {
    width: 18px;
    height: 18px;
    color: rgb(50, 42, 38);
}

#keep-logged-in-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-login-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

#test-acc-login-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.submit-button {
    transition: transform 0.4s;
}

.submit-button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.submit-button:active {
    filter: brightness(0.85);
}
  
/* switch */
  
.switch-wrapper {
    height: 40px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.switch input {
    position: absolute;
    opacity: 0;
  }
  
.switch {
    display: inline-block;
    font-size: 20px;
    height: 1em;
    width: 2.5em;
    background: #867465;
    border-radius: 1em;
    margin: 15px;
  }
  
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #413429;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    transition: 0.4s;
  }
  
.switch input:checked + div {
    transform: translate3d(150%, 0, 0);
  }  

/* popup */

#popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.543);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#close-popup-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 88%;
    transition: transform 0.4s;
}

#close-popup-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.login-as-button {
    width: 280px;
    height: 50px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: rgb(68, 59, 54);
    color: white;
    transition: transform 0.4s;
}

.login-as-button img {
    margin: 0 30px 0 30px;
}

.login-as-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.login-as-button:active {
    filter: brightness(0.85);
}