<section id="login-register-section">

    <div class="switch-wrapper">
        
        <p>log in</p>

        <label class="switch">
            <input type="checkbox" (click)="changeLoginRegister()">
            <div></div>
        </label>

        <p>register</p>
    </div>

    <form>
        <input class="login-register-input" type="text" placeholder="nickname" name="nickname" *ngIf="!radioLoginChecked" [(ngModel)]="nickname">
        <input class="login-register-input" type="email" placeholder="email" name="email" [(ngModel)]="email">
        <input class="login-register-input" type="password" placeholder="password" name="password" [(ngModel)]="password">

        <div id="keep-logged-in-wrapper" *ngIf="radioLoginChecked">
            <input id="keep-logged-in" type="checkbox" name="keep-logged-in" [(ngModel)]="authService.keepLoggedIn">
            <label for="keep-logged-in">keep me logged in</label>
        </div>

        <button class="submit-button" id="login-button" type="submit" *ngIf="radioLoginChecked" (click)="loginButtonClicked()">LOG IN</button>
        <button id="google-login-button" *ngIf="radioLoginChecked" (click)="authService.logInWithGoogle()">
            <img src="../../../assets/images/google_logo.png" alt="google logo" width="30px" height="30px">
            <p>LOG IN WITH GOOGLE</p>
        </button>
        <!-- <button id="facebook-login-button" *ngIf="radioLoginChecked" (click)="authService.logInWithFacebook()">LOG IN WITH FACEBOOK</button> -->
        <button class="submit-button" id="register-button" type="submit" *ngIf="!radioLoginChecked" (click)="registerButtonClicked()">REGISTER</button>
    </form>

</section>