<section id="login-register-section">

    <div class="switch-wrapper">
        
        <p>log in</p>

        <label class="switch">
            <input type="checkbox" (click)="changeLoginRegister()">
            <div></div>
        </label>

        <p>register</p>
    </div>

    <form>
        <div class="login-register-input-wrapper">
            <input class="login-register-input" type="text" placeholder="nickname" name="nickname" *ngIf="!radioLoginChecked" [(ngModel)]="nickname">
        </div>
        <div class="login-register-input-wrapper">
            <input class="login-register-input" type="email" placeholder="email" name="email" [(ngModel)]="email">
        </div>
        <div class="login-register-input-wrapper">
            <input class="login-register-input" id="password-input" type="password" placeholder="password" name="password" [(ngModel)]="password" (input)="checkPasswordRequirements($event)">
            <img id="password-input-toggle-img" src="../../../assets/images/show_password_icon.png" alt="show password" width="30px" (click)="togglePasswordVisibility($event, 'password-input')">
        </div>
        <div class="login-register-input-wrapper" *ngIf="!radioLoginChecked">
            <input class="login-register-input" id="repeat-password-input" type="password" placeholder="repeat password" name="repeat-password"[(ngModel)]="repeatedPassword">
            <img id="repeat-password-input-toggle-img" src="../../../assets/images/show_password_icon.png" alt="show password" width="30px" (click)="togglePasswordVisibility($event, 'repeat-password-input')">
        </div>

        <div id="keep-logged-in-wrapper" *ngIf="radioLoginChecked">
            <input id="keep-logged-in" type="checkbox" name="keep-logged-in" [(ngModel)]="authService.keepLoggedIn">
            <label for="keep-logged-in">keep me logged in</label>
        </div>

        <button class="submit-button" id="login-button" type="submit" *ngIf="radioLoginChecked" (click)="loginButtonClicked()">LOG IN</button>

        <button class="submit-button" id="google-login-button" *ngIf="radioLoginChecked" (click)="authService.logInWithGoogle()">
            <img src="../../../assets/images/google_logo.png" alt="google logo" width="30px" height="30px">
            <p>LOG IN WITH GOOGLE</p>
        </button>

        <button class="submit-button" id="test-acc-login-button" *ngIf="radioLoginChecked" (click)="togglePopup()">
            <img src="../../../assets/images/admin_account.png" alt="test account" width="30px" height="30px">
            <p>LOG IN WITH TEST ACCOUNT</p>
        </button>

        <div id="password-requirements" *ngIf="!radioLoginChecked">
            <p>password requirements:</p>

            <div class="requirement">
                <img src="../../../assets/images/requirement_not_fulfilled_icon.png" id="min-chars-requirement-img">
                <p>at least 8 characters</p>
            </div>

            <div class="requirement">
                <img src="../../../assets/images/requirement_not_fulfilled_icon.png" id="min-special-chars-requirement-img">
                <p>at least 1 special character</p>
            </div>

            <div class="requirement">
                <img src="../../../assets/images/requirement_not_fulfilled_icon.png" id="min-uppercase-chars-requirement-img">
                <p>at least 1 capital letter</p>
            </div>

            <div class="requirement">
                <img src="../../../assets/images/requirement_not_fulfilled_icon.png" id="min-digits-requirement-img">
                <p>at least 1 digit</p>
            </div>

        </div>

        <button class="submit-button" id="register-button" type="submit" *ngIf="!radioLoginChecked" (click)="registerButtonClicked()">REGISTER</button>
    </form>

</section>

<div id="popup-wrapper" *ngIf="!popupHidden">
    <div id="popup">

        <button id="close-popup-btn" (click)="togglePopup()">
            <img src="../../../assets/images/x.png" alt="close popup" width="30px" height="30px">
        </button>

        <button class="login-as-button" (click)="loginWithTestAccount('customer1@mail.com', 'password')">
            <img src="../../../assets/images/customer_account.png" alt="customer account" width="30px" height="30px">
            <p>LOG IN AS CUSTOMER</p>
        </button>

        <button class="login-as-button" (click)="loginWithTestAccount('manager@mail.com', 'password')">
            <img src="../../../assets/images/manager_account.png" alt="manager account" width="30px" height="30px">
            <p>LOG IN AS MANAGER</p>
        </button>

        <button class="login-as-button" (click)="loginWithTestAccount('admin@mail.com', 'password')">
            <img src="../../../assets/images/admin_account.png" alt="admin account" width="30px" height="30px">
            <p>LOG IN AS ADMIN</p>
        </button>

    </div>
</div>