<section id="login-register-section">

    <div>
        <input type="radio" id="radio-login" name="login-or-register" value=1 (click)="changeLoginRegister($event)" checked>
        <label for="radio-login">Log in</label>

        <input type="radio" id="radio-register" name="login-or-register" value=0 (click)="changeLoginRegister($event)">
        <label for="radio-register">Register</label>
    </div>

    <form>
        <input class="login-register-input" type="text" placeholder="Nickname" name="nickname" *ngIf="!radioLoginChecked" [(ngModel)]="nickname">
        <input class="login-register-input" type="email" placeholder="Email" name="email" [(ngModel)]="email">
        <input class="login-register-input" type="password" placeholder="Password" name="password" [(ngModel)]="password">
        <button class="submit-button" id="login-button" type="submit" *ngIf="radioLoginChecked" (click)="loginButtonClicked()">Log in</button>
        <button class="submit-button" id="register-button" type="submit" *ngIf="!radioLoginChecked" (click)="registerButtonClicked()">Register</button>
    </form>

</section>