<app-navigation></app-navigation>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div id="contact">

        <div id="contact-details">
            <h3>Contact:</h3>
            <p>Wonderful Excursions</p>
            <p>Kawiory 21 Street</p>
            <p>30-055 Krakow</p>
            <p>
                <a class="phone-mail-link" href="tel:+48123123123">+48 123 123 123</a>
            </p>
            <p>
                <a class="phone-mail-link" href="mailto:wonderfulexcursions@mail.com">wonderfulexcursions@mail.com</a>
            </p>
        </div>

        <div id="socials-links-wrapper">

            <h3>Visit us on:</h3>

            <div id="socials-links">
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="../assets/images/linked-in_logo.png" alt="linked-in logo">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../assets/images/instagram_logo.png" alt="instagram logo">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../assets/images/facebook_logo.png" alt="facebook logo">
                </a>
            </div>

        </div>

    </div>

    <hr>

    <p id="footer-bottom">© 2022 | <a href="https://www.linkedin.com/in/wiktor-wilkusz-b7b1b8204/">Wiktor Wilkusz</a>. All rights reserved</p>

</footer>