<header>
    <div id="nav-wrapper">
        <input type="checkbox" id="nav-btn-checkbox">
        <label for="nav-btn-checkbox">
            <div id="nav-btn">
                <div class="nav-btn-bar" id="bar1"></div>
                <div class="nav-btn-bar" id="bar2"></div>
                <div class="nav-btn-bar" id="bar3"></div>
            </div>
        </label>
        <nav id="nav-flex-container">

            <input type="radio" name="nav-tile-radio" class="nav-tile-radio" id="radio-home">
            <label class="nav-tile" for="radio-home">
                <a (click)="navigateToHome()">Home</a>
            </label>

            <input type="radio" name="nav-tile-radio" class="nav-tile-radio" id="radio-excursions">
            <label class="nav-tile" for="radio-excursions">
                <a (click)="navigateToExcursions()">Excursions</a>
            </label>

            <input type="radio" name="nav-tile-radio" class="nav-tile-radio" id="radio-add-excursions" *ngIf="checkRolesForAddingExcursions()">

            <input type="radio" name="nav-tile-radio" class="nav-tile-radio" id="radio-account">
            <label class="nav-tile" for="radio-account">
                <div class="dropdown">
                    <button class="dropbtn">Account: {{getNickname()}}</button>
                    <div class="dropdown-content">
                        <a (click)="navigateToLoginRegister()" *ngIf="!isLoggedIn">Log In / Register</a>
                        <a (click)="logOutButtonClicked()" *ngIf="isLoggedIn">Log Out</a>
                        <a (click)="navigateToAddReservationsHistory()" *ngIf="checkRolesForReservationsHistory()">Reservations History</a>
                        <a (click)="navigateToAddExcursionForm()" *ngIf="checkRolesForAddingExcursions()">Add Excursion</a>
                        <a (click)="navigateToAdminPanel()" *ngIf="checkRolesForAdminPanel()">Admin Panel</a>
                    </div>
                </div>
            </label>
            
            <!-- <input type="radio" name="nav-tile-radio" class="nav-tile-radio" id="radio-notification">
            <label class="nav-tile" id="notification-label" for="radio-notification">
                <a>
                    <img src="../assets/images/bell.png" alt="" width="25px">
                    <div id="notifications-widget">
                        <app-notifications></app-notifications>
                    </div>
                </a>
            </label> -->

            <input type="radio" name="nav-tile-radio" class="nav-tile-radio" id="radio-cart-preview">
            <label class="nav-tile nav-cart-label" for="radio-cart-preview">
                <a (click)="navigateToCart()" id="nav-cart">
                    <app-cart-preview></app-cart-preview>
                </a>
            </label>

        </nav>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div id="contact">

        <div id="contact-details">
            <p id="contact-p">
                <u>Contact:</u>
            </p>
            <p>Wonderful Excursions</p>
            <p>Kawiory 21 Street</p>
            <p>30-055 Krakow</p>
            <p>+48 123 123 123</p>
            <p>wonderfulexcursions@mail.com</p>
        </div>

        <div id="socials-links-wrapper">

            <p>
                <u>Visit us on:</u>
            </p>

            <div id="socials-links">
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="../assets/images/linked-in_logo.png" alt="linked-in logo">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../assets/images/instagram_logo.png" alt="instagram logo">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../assets/images/facebook_logo.png" alt="facebook logo">
                </a>
            </div>

        </div>

    </div>

    <hr>

    <p id="footer-bottom">© 2022 | Wiktor Wilkusz. All rights reserved</p>

</footer>