<header>
    <div id="nav-wrapper">
        <input type="checkbox" id="nav-btn-checkbox">
        <label for="nav-btn-checkbox">
            <div id="nav-btn">
                <div class="nav-btn-bar" id="bar1"></div>
                <div class="nav-btn-bar" id="bar2"></div>
                <div class="nav-btn-bar" id="bar3"></div>
            </div>
        </label>
        <nav id="nav-flex-container">
            <a class="nav-tile" href="/home">home</a>
            <a class="nav-tile" routerLink="/excursions">Excursions</a>
            <a class="nav-tile" routerLink="add-excursion-form">Add Excursion</a>
            <a class="nav-tile" routerLink="/cart" id="nav-cart">
                <app-cart-preview></app-cart-preview>
            </a>
        </nav>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    footer 
</footer>

