/* main section */

main {
    min-height: 88vh;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(68, 59, 54);
    padding: 10px;
    margin-top: 150px;
    border-top: 2px solid black;
}

footer p {
    margin: 0;
}

footer hr {
    width: 70%;
    border-color: white;
    background-color: white;
    color: white;
}

#contact {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#contact-details {
    border-right: 2px solid white;
    margin-right: 50px;
    padding-right: 50px;
}

#contact-details p {
    margin: 8px;
}

.phone-mail-link {
    color: white;
}

#socials-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0 30px 0;
}

#socials-links > a {
    width: 35px;
    margin: 5px;
    transition: transform 0.4s;
    cursor: pointer;
}

#socials-links > a:hover {
    transform: scale(1.25);
}

#socials-links > a > img {
    width: 100%;
}

#footer-bottom {
    color: white;
}