<div class="excursion-card"
    [ngClass]="{'min-price-card': excursion.unitPrice == getMinPrice(), 'max-price-card': excursion.unitPrice == getMaxPrice(), 'low-stock-3' : leftToAddToCart == 3, 'low-stock-2' : leftToAddToCart == 2, 'low-stock-1' : leftToAddToCart == 1, 'low-stock-0' : leftToAddToCart == 0}">

    <img class="preview-img" src={{excursion.img}} alt={{excursion.name}} (click)="navigateToSingleExcursionView()">
    <h3>{{excursion.name | uppercase}}</h3>
    <p>{{excursion.country | uppercase}}</p>
    <p>{{excursion.description}}</p>
    <div class="stars">
        <span *ngIf="getAverageStars() > 0 else noReviews">
            {{getAverageStars() | number : '1.2-2'}} / 5
            <img src="../../../assets/images/star.png" alt="" width="20px">
        </span>
        <ng-template #noReviews>No reviews!</ng-template>
    </div>
    <p>From {{excursion.startDate}} to {{excursion.endDate}}</p>
    <p>{{excursion.unitPrice | currency}}</p>
    <p *ngIf="leftToAddToCart > 0; else outOfStock">In stock: {{leftToAddToCart}}</p>
    <ng-template #outOfStock class="out-of-stock">
        <p>Out of stock!</p>
    </ng-template>

    <div id="buttons-container">

        <div (click)="removeButtonClicked(excursion)" id="remove-card-button" *ngIf="checkRolesForRemovingExcursions()"></div>

        <div id="reservation-buttons">
            <button (click)="changeReservationCounter(1)"
                [disabled]="reservationCounter == excursion.inStock"
                class="add-reservation-button">+</button>
            <button (click)="changeReservationCounter(-1)" [disabled]="reservationCounter == 0"
                class="remove-reservation-button">-</button>
        </div>

    </div>

</div>