body {
    font-family: 'Gill Sans', sans-serif;
    min-width: 280px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.excursion-card-flip-wrapper {
    width: 350px;
    height: 480px;
    margin: 80px 40px 50px 40px;
}

.excursion-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.excursion-card-front, .excursion-card-back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(66, 68, 90, 1);
    position: absolute;
    backface-visibility: hidden;
    background-color: white;
}

.excursion-card-front {
    background-color: white;
    overflow: hidden;
}

.excursion-card-front > img {
    transform: rotate(-10deg);
    position: relative;
    top: -50px;
    left: -50px;
}

.excursion-card-front > .color-filter {
    width: 500px;
    height: 250px;
    transform: rotate(-10deg);
    position: relative;
    top: -306px;
    left: -50px;
    margin: 0 0 -260px 0;
}

.excursion-card-front > .card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -60px;
    margin: -25px 8px -25px 8px;
    align-self: flex-end;
}

.excursion-card-front > .card-title > p {
    font-size: 15px;
    margin: 0;
    padding: 6px;
    color: white;
    display: inline-flex;
    text-align: right;
}

.excursion-card-front > .description {
    margin: -25px 15px 0px 15px;
    font-size: 14px;
    color: rgb(95, 95, 95);
    text-align: center;
}

.excursion-card-front > .description hr {
    margin: 0 20px 0 20px;
    border: 1px solid rgba(238, 235, 235, 0.799);
    background-color: rgba(235, 233, 233, 0.82);
}

#star-img {
    position: relative;
    top:4px;
}

.excursion-card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: rotateY(180deg);
}

.excursion-card-back > .price {
    color: black;
    text-align: center;
}

.excursion-card-back > .price > p {
    margin: 20px;
}

.excursion-card-back > .price > p:nth-child(1) {
    font-size: 15px;
}

.excursion-card-back > .price > p:nth-child(2) {
    font-weight: 100;
    font-size: 50px;
}

.excursion-card-back > button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.excursion-card-back > button:active {
    opacity: 0.9;
}

.excursion-card-flip-wrapper:hover .excursion-card {
    transform: rotateY(180deg) scale(1.1);
}

.excursion-card-front > .card-title > p, .orange-excursion-card-back {
    background: linear-gradient(90deg, rgba(58, 40, 26, 0.934) 0%, rgba(182, 100, 50, 0.928)70%);
}

.min-price-card {
    box-shadow: 0px 0px 21px 5px rgba(233, 25, 0, 1);
}

.max-price-card {
    box-shadow: 0px 0px 21px 5px rgba(91, 237, 27, 1);
}

.low-stock-3 {
    background-color: rgba(238, 255, 4, 0.888);
}

.low-stock-2 {
    background-color: rgba(255, 179, 0, 0.938);
}

.low-stock-1 {
    background-color: rgba(255, 115, 0, 0.9);
}

.low-stock-0 {
    background-color: rgba(255, 0, 0, 0.887) !important;
}

#reservation-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#reservation-buttons {
    display: flex;
    flex-direction: row;
}

#reservation-buttons button {
    width: 40px;
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.35s;
}

#reservation-buttons button:first-child{
    margin-right: 20px;
}

.add-reservation-button {
    background-color: rgb(60, 255, 0);
}

.remove-reservation-button {
    background-color: rgb(226, 48, 48);
}

#reservation-buttons button:hover,
#remove-card-button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#reservation-buttons button:active,
#remove-card-button:active {
    transform: scale(0.8);
}

#details-btn {
    width: 150px;
    height: 30px;
    background-color: rgb(68, 59, 54);
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.3s;
    color: white;
}
