.excursion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 340px;
    height: 550px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 11px 5px rgb(120, 120, 120);
    background-color: white;
}

.preview-img {
    aspect-ratio: 1 / 1;
    width: 40%;
    border-radius: 50%;
}

.preview-img:hover {
    cursor: pointer;
    filter: brightness(0.85);
}

.excursion-card p,
h3,
.stars {
    margin: 0 10px 10px 10px;
    text-align: center;
}

.excursion-card p,
.out-of-stock p,
.stars {
    width: 80%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.498);
}

.min-price-card {
    box-shadow: 0px 0px 21px 5px rgba(233, 25, 0, 1);
}

.max-price-card {
    box-shadow: 0px 0px 21px 5px rgba(91, 237, 27, 1);
}

.low-stock-3 {
    background-color: rgba(238, 255, 4, 0.888);
}

.low-stock-2 {
    background-color: rgba(255, 179, 0, 0.938);
}

.low-stock-1 {
    background-color: rgba(255, 115, 0, 0.9);
}

.low-stock-0 {
    background-color: rgba(255, 0, 0, 0.887);
}

#remove-card-button {
    width: 40px;
    height: 40px;
    margin: 20px;
    background-image: url(../../../assets/images/trash_bin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    border: 1px solid black;
    border-radius: 10%;
    transition: transform 0.35s;
}

#buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#reservation-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#reservation-buttons button {
    font-size: 30px;
    margin-bottom: 10px;
    transition: transform 0.35s;
}

.add-reservation-button {
    background-color: rgb(60, 255, 0);
}

.remove-reservation-button {
    background-color: rgb(226, 48, 48);
}

#reservation-buttons button:hover,
#remove-card-button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#reservation-buttons button:active,
#remove-card-button:active {
    transform: scale(0.8);
}

.stars span {
    display: flex;
    justify-content: center;
    align-items: center;
}