.excursion-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 550px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 21px 5px rgb(72, 72, 72);
}

.excursion-card img{
    aspect-ratio: 1 / 1;
    width: 50%;
    border-radius: 50%;
}

.excursion-card p {
    margin: 0;
}

.min-price-card{
    box-shadow: 0px 0px 21px 5px rgba(233, 25, 0, 1);
}

.max-price-card{
    box-shadow: 0px 0px 21px 5px rgba(91, 237, 27, 1);
}

.low-stock-3{
    background-color: rgba(125, 255, 4, 0.855);
}

.low-stock-2{
    background-color: rgba(242, 255, 0, 0.938);
}

.low-stock-1{
    background-color: rgba(255, 128, 0, 0.9);
}

.low-stock-0{
    background-color: rgba(255, 0, 0, 0.887);
}

#remove-card-button{
    width: 40px;
    height: 40px;
    background-image: url(../../../assets/images/trash_bin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    border: 1px solid black;
    border-radius: 10%;
    transition: transform 0.4s;
}

#remove-card-button:hover{
    transform: scale(1.15);
    cursor: pointer;
}

#remove-card-button:active{
    filter: brightness(0.8);
}