<section id="users-list">
    <div *ngFor="let userData of allUsersData" class="user-div">

        <div class="user-inner-div">
            <p class="uid-p">{{userData.uid}}</p>
        </div>

        <div class="email-nickname-div user-inner-div">
            <p>{{userData.nickname}}</p>
            <p>{{userData.email}}</p>
        </div>

        <div class="roles user-inner-div">
            <form>
                <div class="checkbox-div">
                    <label for="customer-checkbox">customer</label>
                    <input type="checkbox" name="roles-input" id="customer-checkbox" [checked]="userData.roles.customer" (input)="changeRoles(userData ,{customer: true, manager: false, admin: false})">
                </div>
                <div class="checkbox-div">
                    <label for="manager-checkbox">manager</label>
                    <input type="checkbox" name="roles-input" id="manager-checkbox" [checked]="userData.roles.manager" (input)="changeRoles(userData ,{customer: false, manager: true, admin: false})">
                </div>
                <div class="checkbox-div">
                    <label for="admin-checkbox">admin</label>
                    <input type="checkbox" name="roles-input" id="admin-checkbox" [checked]="userData.roles.admin" (input)="changeRoles(userData ,{customer: false, manager: false, admin: true})">
                </div>
            </form>
        </div>

        <div class="ban-div user-inner-div">
            <p>{{userData.banned ? 'banned' : 'not banned'}}</p>
            <button *ngIf="!userData.banned" (click)="reverseBan(userData)" class="ban-btn ban-btn">Ban</button>
            <button *ngIf="userData.banned" (click)="reverseBan(userData)" class="ban-btn unban-btn">Unban</button>
        </div>

    </div>
</section>
