p {
    margin: 0px;
}

#user-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.user-div {
    width: 92%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 15px;
    background-color: white;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.user-inner-div {
    width: 25%;
    height: 100%;
    border-right: 1px solid rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.user-inner-div p {
    text-align: center;
}

.user-inner-div:last-child {
    border: none;
}

.uid-p {
    word-wrap: break-word;
    text-align: center;
}

.email-nickname-div,
.ban-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-nickname-div p {
    display: inline-block;
    word-break: break-all;
    text-align: center;
}

.ban-btn {
    color: black;
    width: 70px;
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid black;
    transition: transform 0.4s;
}

.ban-btn:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.ban-btn:active {
    filter: brightness(0.8);
}

.ban-btn {
    background-color: red;
}

.unban-btn {
    background-color: green;
}

#header-div {
    background: rgb(68, 59, 54);
    color: white;
}

.roles form {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.checkbox-div input {
    width: 22px;
    height: 22px;
}

.checkbox-div {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(209, 209, 209);
}

.checkbox-div:last-child {
    border: none;
}

#roles-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

#roles-header p {
    width: 33%;
    height: 100%;
    overflow: hidden;
}