p {
    color: black;
    font-size: 13px;
    text-align: center;
}

.notification {
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.notification:hover {
    filter: brightness(90%);
    background-color: #d8d8d8;
}

.notification:last-child {
    border-bottom: none;
}

#upcoming-reservation-info {
    margin-left: 30px;
}