<section id="about">

    <h1>
        Wonderful Excursions
    </h1>

    <p>
        Wonderful Excursions was established in 1995 and since 2015 it has been an unquestionable leader in the tourist
        industry. Subsequent seasons consolidated Wonderful Excursions's position as market leader. Success did not come
        suddenly. It is the result of many years of work, gradual and well-weighed development of the company. Wonderful
        Excursions grew out of passion, which allowed to treat the company not only as a source of income, but as a way
        to realise dreams and ambitions. During its activity, Wonderful Excursions took up pioneer activities in the
        field of the developing foreign tourism: original programmes of excursions and creating new directions of
        holidays served by charter flights. Wonderful Excursions has holiday offers in close to 100 places worldwide,
        allowing it to offer luxurious holidays and trips for the most demanding Customers.
    </p>

    <p>
        The development strategy is further investments in destinations and sales networks, as well as implementing new
        technologies. Great emphasis is placed on the quality of customer service during holidays. Due to this,
        intensive works are underway to create new structures in destinations, guaranteeing the best service on site.
    </p>

</section>

<section id="map-section">

    <google-map [center]="center" [zoom]="zoom">
        <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
    </google-map>
    
</section>