<div id="cart">

    <div *ngIf="history.length > 0; else empty_cart">
        <p class="cart-info">
            Your reservations:
        </p>
    </div>

    <ng-template class="cart-info" #empty_cart>
        <p class="cart-info">
            You don't have any reservations yet!
        </p>
    </ng-template>

    <div class="cart-item" *ngFor="let reservation of history">

        <div class="main-reservation-info">
            <img src={{reservation.excursionData.imgs[0]}}
                (click)="navigateToSingleExcursionView(reservation.excursionData.id)">
            <p>{{reservation.excursionData.name}}, {{reservation.excursionData.country}}</p>
            <p></p>
        </div>

        <div class="reservation-details">
            <h4>Reservation details:</h4>
            <div class="details">
                <p>Reservation date: {{reservation.reservationDate}}</p>
                <p>Total reservations: {{reservation.amount}}</p>
                <p>Unit price: {{reservation.excursionData.unitPrice | currency}}</p>
                <p>Total price: {{reservation.excursionData.unitPrice * reservation.amount | currency}}</p>
                <p>From {{reservation.excursionData.startDate}} to {{reservation.excursionData.endDate}}</p>
                <p>Status: {{reservation.status}}</p>
            </div>
        </div>

    </div>
</div>