.excursion-cards-list-div {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.excursion-cards-list {
    margin: auto;
}

#no-excursions-p {
    font-size: 20px;
    margin-top: 50px;
}