<section>
    <app-filter-excursions></app-filter-excursions>
    <div class="excursion-cards-list-div">
        <app-excursion-card class="excursion-cards-list" (removeExcursionCardEvent)="removeExcursionCard($event)" *ngFor="let exc of excursionsData | filterExcursions: {minPrice: selectedMinPrice, maxPrice: selectedMaxPrice, fromDate: filterService.getSelectedFromDate(), toDate: filterService.getSelectedToDate(), country: filterService.getSelectedCountry(), minStars: filterService.getSelectedMinStars(), maxStars: filterService.getSelectedMaxStars(), noReviews: filterService.getSelectedNoReviews()}" [excursion]=exc></app-excursion-card>
    </div>
</section>
